<!-- Start: Footer Dark -->
<div class="footer-dark">
  <footer>
    <div class="container">
      <div class="row">
        <!-- Start: Services -->
        <div class="col-sm-6 col-md-3 item">
          <%- include("../vi/5.html"); %>
        </div>
        <!-- End: Services -->
        <!-- Start: About -->
        <div class="col-sm-6 col-md-3 item">
          <%- include("../vi/6.html"); %>
        </div>
        <!-- End: About -->
        <!-- Start: Footer Text -->
        <div class="col-md-6 item text"><%- include("../vi/7.html"); %></div>
        <!-- End: Footer Text -->
      </div>
      <!-- Start: Copyright -->
      <p class="copyright">
        Tạo bởi <a href="https://loaloa.tech">Loa Loa Tech</a>
      </p>
      <!-- End: Copyright -->
    </div>
  </footer>
</div>
<!-- End: Footer Dark -->

<script src="/assets/js/script.min.js?h=be38833756eec81f7d0744dc18c888c9"></script>
