<!DOCTYPE html>
<html>
<%-include("./partials/head") %>

  <body class="text-primary">
    <!-- Start: Navigation with Button -->
    <nav
      class="navbar navbar-dark navbar-expand-md sticky-top bg-primary navigation-clean-button"
    >
      <div class="container">
        <a class="navbar-brand text-light" href="/"
          ><img
            class="img-fluid logo"
            src="/assets/img/stock.png?h=b98d12993b2197eca7123d49b6c3d118"
          /><strong>Money Maker</strong></a
        ><button
          data-toggle="collapse"
          class="navbar-toggler"
          data-target="#navcol-1"
        >
          <span class="sr-only">Toggle navigation</span
          ><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="nav navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/en">English</a></li>
          </ul>
          <span class="navbar-text actions">
            </span
          >
        </div>
      </div>
    </nav>
    <!-- End: Navigation with Button -->
  <section class="my-5">
    <style>
      a {
        display: block;
      }
    </style>
    <div class="container">
      <h2>Content edit</h2>
    <a href="/admin-vi">Vietnamese content edit.</a>
    <a href="/admin-en">English content edit.</a>
      <h2>Upload file</h2>
    <a href="/upload-vi">Vietnamese upload file.</a>
    <a href="/upload-en">English upload file.</a></div>
    
</section> 
    </div>
    <!-- End: Footer Dark -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.js"></script>
    <script src="/assets/js/script.min.js?h=be38833756eec81f7d0744dc18c888c9"></script>
                     <!-- INSERTING SUMMERNOTE -->
		                     <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
				                         <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
							 <!-- custom script to handle summernote and form sending -->
							 <script src="/assets/js/summernote-client.js"></script>

  </body>
</html>
