<!DOCTYPE html>
<html>
<%-include("./partials/head") %>

  <body class="text-primary">
    <!-- Start: Navigation with Button -->
    <nav
      class="navbar navbar-dark navbar-expand-md sticky-top bg-primary navigation-clean-button"
    >
      <div class="container">
        <a class="navbar-brand text-light" href="/"
          ><img
            class="img-fluid logo"
            src="/assets/img/stock.png?h=b98d12993b2197eca7123d49b6c3d118"
          /><strong>Money Maker</strong></a
        ><button
          data-toggle="collapse"
          class="navbar-toggler"
          data-target="#navcol-1"
        >
          <span class="sr-only">Toggle navigation</span
          ><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="nav navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/en">English</a></li>
          </ul>
          <span class="navbar-text actions">
            </span
          >
        </div>
      </div>
    </nav>
    <!-- End: Navigation with Button -->
  <section class="my-5">
    <style>
      a {
        display: block;
      }
    </style>
    <div class="container">
   <%-include("./partials/sidebar")%>
    
</section> 
<%-include("./partials/footer-en")%>
  </body>
</html>
