        <div class="col-sm-12 col-md-6 col-lg-5">
<img
class="img-fluid"
data-aos="fade-right"
src="/assets/img/Bitcoin%20P2P-amico.svg?h=35993449df8024cf58dc180270a98013"
/>
</div>
<div
class="col-12 col-sm-12 col-md-6 col-lg-7 d-md-flex align-items-md-center"
>
<div>
<h1 class="display-4 font-weight-bold" data-aos="fade-up">
Tầm Nhìn &amp; Sản Phẩm
</h1>
<h5 class="text-justify text-secondary" data-aos="fade-up">
Tôi chưa từng Marketing, vì tôi muốn các bạn hiểu sự rủi ro của
thị <br />trường tài chính khi tham gia mới tìm đến đây, và tôi
luôn muốn giảm thiểu rủi ro cho NĐT trong các sản phẩm của mình,
và đây là những gì tôi có, hãy đọc và nếu thấy nó có ích, bạn
hãy liên hệ với tôi để sử dụng hoặc trở thành đối tác với tôi!
</h5>
</div>
</div>

