
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
       <h1 class="display-4 text-left text-primary font-weight-bold"><strong>Vision &amp; Service</strong></h1>
<h5 class="text-justify text-secondary">if we set the coefficient so that each signal makes 2-3% profit with maxdd&nbsp; &nbsp;around 5%, then the total of 5 signals will bring 10-15% profit per month but maxdd is only 10%. Because for seldom the signals reach maxdd at the same time.</h5>
<h5 class="text-justify text-secondary">And you! As a buffet, you only need to pay $ 50 and freely choose the dishes (signals) and quantity (ratio)!</h5>       
              
              
              
              
              
              
              <div>
  <h1 class="display-4 text-left text-primary font-weight-bold"><img src="https://moneymaker.vn/assets/img/5c78a29b-458f-4bc0-9f11-e6e8a869615b.png" style="width: 551px;"><br></h1>
</div>

              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              