
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              <p class="text-justify text-info">Đối với khách hàng bạn có thể</p>
<ul>
  <li>
    Sử dụng EA (tải ở phần Download và làm theo hướng dẫn ở video) với chi
phí 50$/tháng, 120$/3 tháng hoặc 360$/năm</li><li>Thanh toán qua stk : 456585858 ACB Trần Thị Thu Hoa (rate 23) với note "active_number_ x thang",&nbsp;</li>
  <li>Free khi đăng ký tài khoản giao dịch dưới link&nbsp;<a href="https://www.liteforex.com/vi/?uid=114358575" target="_blank" style="background-color: rgb(255, 255, 255); font-size: 1rem; display: inline !important;">Liteforex</a>&nbsp;hoặc&nbsp;<a href="http://client.exclusivemarkets.com/register?ibid=3224" target="_blank" style="background-color: rgb(255, 255, 255); font-size: 1rem; display: inline !important;">Exclusive</a></li></ul>


              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              