
              
              
              <p class="text-justify text-info">Đối với khách hàng bạn có thể</p>
<ul>
  <li>
    Sử dụng EA (tải ở phần Download và làm theo hướng dẫn ở video) với chi
    <br>phí 40$ (hoặc Free khi các bạn đăng ký tk clients dưới link IB mình
    tại <br>Liteforex).
  </li>
  <li>
    Khi giới thiệu khách hàng sử dụng dịch vụ, các bạn có 30% chi phí khách hàng
    bỏ ra.
  </li>
  <li>
    Khi các bạn trở thành IB dưới IB của mình, các bạn sẽ được sử dụng EA miễn
    phí.
  </li>
</ul>
<p>
  Bonus thêm phần mềm dọn VPS với chỉnh lỗi nến khi sử dụng EAs :&nbsp;<a href="https://drive.google.com/file/d/1kLAYmAXLWij59n-IwmRYAXpQXGFS1J4m/view">https://drive.google.com/file/d/1kLAYmAXLWij59n-IwmRYAXpQXGFS1J4m/view</a>
</p>


              
              
              