<p class="text-justify text-info" style="text-align: left;">Đối với khách hàng bạn có thể</p>
<ul>
<li style="text-align: left;">Sử dụng EA (tải ở phần Download và làm theo hướng dẫn ở video) với chi phí 50$/tháng, 120$/3 tháng hoặc 360$/năm</li>
<li style="text-align: left;">Thanh toán qua stk : 456585858 ACB Trần Thị Thu Hoa (rate 23) với note "active_number_ x thang",&nbsp;</li>
<li style="text-align: left;">Free khi đăng ký tài khoản giao dịch dưới link&nbsp;<a style="background-color: #ffffff; font-size: 1rem; display: inline !important;" href="https://www.liteforex.com/vi/?uid=114358575" target="_blank" rel="noopener">Liteforex</a>&nbsp;hoặc&nbsp;<a style="background-color: #ffffff; font-size: 1rem; display: inline !important;" href="http://client.exclusivemarkets.com/register?ibid=3224" target="_blank" rel="noopener">Exclusive</a></li>
</ul>